header {
    text-align: center;
    margin: auto;
    width: 50%;
}

header div {
    margin: 150px 150px 50px;
}

#bio {
    text-align: center;
}

img {
    width: 100%;
}

.bio\+photo {
    display: flex;
}

.child {
    text-align: center;
    margin: 50px 100px;
    width: 100%;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: black;
}

p {
    font-size: large;
}

li {
    font-size: large;
    padding: 5px
}
